.label{
    -fx-text-fill: #424949 ;
    -fx-font-size: 30pt;
    -fx-font-family: 'Helvetica';
    -fx-font-weight: bold;
    -fx-background-color: #DC7633;
    -fx-max-height: 300;
    -fx-max-width: 400
}